.centre-category {
    margin-top: 70px;
}
.category-title-text {
    color: #463F3A;
    font-family: "Henny Penny";
    font-size: 32px;
}

.category-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.category-grid-row1 {
    display: flex;
    gap: 13vw;
}


.category-grid-row2 {
    display: flex;
    gap: 13vw;
    justify-content: center;
}
.name-category {
    font-family: "Henny Penny";
    font-size: 28px;
    color: #463F3A;
}
.img-category {
    height: 22vw;
    border-radius: 10px;
    width: 16vw;
    cursor: pointer;
    transition: transform 0.2s;
}
.img-category:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
    .img-category {
        height: 30vw;
        width: 24vw;
    }
    .category-grid-row1, .category-grid-row2 {
        gap: 9vw;
    }
    .name-category {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    .category-grid-row1, .category-grid-row2 {
        flex-direction: column;
    }
    .div-category {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .img-category {
        height: 48vw;
        width: 36vw;
    }
}


