.editForm-main-container {
    background-color: #E6B4C1;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    left: 350px;
    top: 150px;
    z-index: 100;
}
.editForm-sub-container {
    display: flex;
    gap: 40px;
}
.edit-image-upload-container {
    border: dotted #463F3A;
    height: 400px;
    width: 300px;
}
.product-image-input {
    display: none;
}

.edit-product-name-price-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.edit-product-input {
    width: 300px;
    border: solid #463F3A;
}
.editForm-divider {
    border: solid #463F3A 1px;
    margin-top: 15px;
}
.edit-product-desc-text {
    font-size: 20px;
    color: #463F3A;
    margin-right: 350px;
    margin-top: 0px;
}
.edit-btn-container {
    display: flex;
    gap: 10px;
}
.delete-btn-product, .update-btn-product {
    background-color: #463F3A;
    width: 250px;
    margin-top: 20px;
}
.edit-product-desc-input-container {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit-plant-dropdown {
    background-color: white;
    color: #463F3A;
    width: 250px;
    height: 40px;
    border: solid 2px #463F3A;
    border-radius: 5px;
}
.edit-light-water-req-container {
    display: flex;
    gap: 10px;
}
.edit-req-dropdown {
    background-color: white;
    color: #463F3A;
    width: 170px;
    height: 40px;
    border: solid 2px #463F3A;
    border-radius: 5px;
}