.top-section-foliage {
    margin-top: 70px;
    margin-left: 50px;
}
.title-foliage {
    font-family: "Henny Penny";
    color: #463F3A;
    font-size: 32px;
}

.foliage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 40px;
    margin-left: 20px;
}
.foliage-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.foliage-container p {
    color: #463F3A;
}
.foliage-name {
    font-size: 18px;
}
.foliage-price {
    margin-top: -10px;
}
.foliage-img {
    height: 200px;
}
.foliage-img:hover {
    cursor: pointer;
}