.page-container-forgotP {
    display: flex;
    gap: 100px;
    align-items: end;
}
.left-section-forgotP {
    margin-right: 100px;
    margin-top: 30px;
}

.tiny-garden-forgotP-responsive, .forgotP-img-responsive {
    display: none;
}

.tiny-garden-forgotP {
    width: 100px;
    position: fixed;
    color: white;
    font-family: "Henny Penny";
    font-size: 60px;
    margin-top: 300px;
    margin-left: 30px;
}
.forgotP-img {
    height: 700px;
    border-radius: 80px 80px 0 0;
}

.back-btn-forgotP {
    margin-left: 370px;
    margin-top: 30px;
    font-size: 24px;
    color: white;
}
.back-btn-forgotP:hover {
    cursor: pointer;
}
.right-sec-forgotP {
    background-color: #A4BE8B;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    margin-top: 30px;
}
.page-heading-forgotP {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
}
.forgotP-title, .forgotP-subtitle {
    color: #463F3A;
    font-family: "Nunito";
}
.forgotP-title {
    font-size: 32px;
    font-weight: bold;
}
.forgotP-subtitle {
    font-size: 20px;
    margin-top: -20px;
}

.otp-link-container-forgotP, .otp-input-container-forgotP, .reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 20px;
}

.reset-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.get-otp-button, .verify-otp-button, .reset-password-btn {
    background-color: #463F3A;
}

.error-message-forgotP, .errorOtp-message-forgotP {
    color: purple;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
}
.error-message-forgotP {
    margin-top: 5px;
}
.errorOtp-message-forgotP {
    margin-top: -25px;
    margin-left: -170px;
}

.loading-message-forgotP {
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 100px;
    color: purple;
    font-family: "Nunito";
}

.email-txtfld-forgotP, .otp-txtfld-forgotP {
    width: 250px;
}

@media screen and (max-width: 1350px) {
    .page-container-forgotP {
        flex-direction: column;
        align-items: center;
    }
    .left-section-forgotP {
        display: flex;
        margin-top: -10px;
        margin-left: 100px;
    }
    .forgotP-img, .tiny-garden-forgotP {
        display: none;
    }
    .forgotP-img-responsive {
        display: block;
        height: 100px;
    }
    .tiny-garden-forgotP-responsive {
        display: block;
        font-family: "Henny Penny";
        color: #463F3A;
        font-size: 32px;
    }
    .right-sec-forgotP {
        height: 600px;
        width: 500px;
        margin-top: -70px;
    }
    .forgotP-title {
        font-size: 24px;
    }
    .forgotP-subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) and (min-width: 400px) {
    .left-section-forgotP {
        align-items: center;
    }
    .right-sec-forgotP {
        height: 550px;
        width: 400px;
        margin-top: -100px;
    }
    .back-btn-forgotP {
        margin-left: 320px;
    }
}