.header-admin {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 20px;
    top: 0px;
    right: 0px;
    background-color: #D6DBB6;
}
.header-admin p {
    font-family: "Nunito";
}
.logo-admin {
    height: 100px;
}
.left-section-admin {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.customer-btn-admin, .product-btn-admin, .order-btn-admin {
    margin-right: 40px;
    font-size: 18px;
    color: #463F3A;
}
.customer-btn-admin:hover, .product-btn-admin:hover, .order-btn-admin:hover {
    text-decoration: underline;
    cursor: pointer;
}
.product-btn-admin {
    position: relative;
}
.product-drop-down-admin {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: -40px;
    opacity: 0;
    transition: opacity 0.15s;
}
.product-btn-admin:hover .product-drop-down-admin {
    opacity: 1;
}
.drop-down-btn {
    background-color: #A4BE8B;
    color: #463F3A;
    border-radius: unset;
    width: 150px;
}
.drop-down-btn:hover {
    border: solid #463F3A 3px;
    border-radius: 5px;
}
.logout-btn-admin {
    height: 35px;
    background-color: #463F3A;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 115px;
}

.adminHeader-sidenav {
    height: 100%;
    position: fixed;
    z-index: 70;
    top: 10vh;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #E6B4C1;
}

.adminHeader-sideNav-btn-container {
    display: flex;
    flex-direction: column;
}

.adminHeader-openSideNav-btn-div {
    margin-top: 10px;
}
.adminHeader-openSideNav-btn {
    background-color: #D6DBB6;
    color: #463F3A;
    font-size: 26px;
    margin-top: 10px;
}
.adminHeader-openSideNav-btn:hover {
    border: none;
}
.adminHeader-sideNav-btn, .adminHeader-sideNav-productBtn {
    width: 100%;
    height: 60px;
    background-color: #E6B4C1;
    color: #463F3A;
}
.adminHeader-sideNav-btn:hover {
    border: solid #463F3A 2px;
}

.adminHeader-sideNav-btn button {
    background-color: #463F3A;
    color: white;
}

@media screen and (min-width: 1041px) {
    .adminHeader-sidenav {
        display: none;
    }
    .adminHeader-click {
        display: none;
    }
    .adminHeader-openSideNav-btn-div {
        display: none;
    }
}

@media screen and (max-width: 1041px) {
    .left-section-admin {
        display: none;
    }
}