.header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #D6DBB6;
    height: 100px;
}
.logo-container {
    margin-top: 20px;
    margin-left: 40px;
}
.logo {
    height: 100px;
    margin-top: -15px;
    outline: none;
}
.header-button-container {
    display: flex;
    margin-right: 40px;
    gap: 50px;
    align-items: center;
}
.header-button {
    color: #463F3A;
}
.header-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.cart-btn {
    height: 40px;
}
.cart-btn:hover {
    cursor: pointer;
}
.login-button {
    background-color: #D6DBB6;
    color: #463F3A;
    border-color: #463F3A;
    border-width: 2px;
    border-radius: 0px;
    height: 35px;
    padding-top: 4px;
}

.header-sidenav {
    height: 100%;
    position: fixed;
    z-index: 70;
    top: 10vh;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #E6B4C1;
}

.header-sideNav-btn-container {
    display: flex;
    flex-direction: column;
}

.header-openSideNav-btn-div {
    margin-top: 10px;
}
.header-openSideNav-btn {
    background-color: #D6DBB6;
    color: #463F3A;
    font-size: 26px;
    margin-top: 10px;
}
.header-openSideNav-btn:hover {
    border: none;
}
.header-sideNav-btn, .adminHeader-sideNav-productBtn {
    width: 100%;
    height: 60px;
    background-color: #E6B4C1;
    color: #463F3A;
}
.header-sideNav-btn:hover {
    border: solid #463F3A 2px;
}

.header-sideNav-btn button {
    background-color: #463F3A;
    color: white;
}

@media screen and (min-width: 1041px) {
    .header-sidenav {
        display: none;
    }
    .header-click {
        display: none;
    }
    .header-openSideNav-btn-div {
        display: none;
    }
}

@media screen and (max-width: 1041px) {
    .header-button-container {
        display: none;
    }
}