.centre-home p {
    color: #463F3A;
}
.home-heading-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.home-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.home-heading-main-text {
    font-family: "Henny Penny";
    font-size: 60px;
}
.home-heading-subtext {
    font-family: "Judson";
    font-weight: bold;
    font-size: 28px;
    margin-top: -15px;
}
.gif-button-container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.shop-now-button {
    background-color: #556b2f;
    width: 13vw;
    height: 50px;
}
.home-gif {
    height: 20vw;
}
.slider-image {
    width: 25vw;
}

.about-home {
    margin-top: 50px;
    flex-wrap: wrap;
}
.why-choose-home {
    font-family: "Henny Penny";
    font-size: 26px;
}
.home-points-container {
    display: flex;
    justify-content: space-between;
}
.home-point {
    display: flex;
    flex-direction: column;
    background-color: #A4BE8B;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
.home-point-quality {
    display: flex;
    align-items: start;
    margin-top: 25px;
    margin-left: 10px;
}
.home-quality2 {
    height: 100px;
}
.home-quality1 {
    height: 150px;
}
.home-point-maintext {
    font-family: "Judson";
    font-weight: bold;
    font-size: 18px;
    height: 180px;
    width: 200px;
    margin-left: 55px;
}
.home-sustainability {
    height: 150px;
    width: 170px;
    margin-left: 70px;
    margin-top: 20px;
}
.home-point-price {
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
}
.home-money {
    height: 60px;
}
.home-purse {
    height: 100px;
}

.best-seller-home {
    margin-top: 70px;
}
.best-seller-text {
    font-family: "Henny Penny";
    font-size: 26px;
}
.best-seller-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}
.best-img {
    height: 300px;
}

.home-at-tinyGarden-container {
    display: flex;
    flex-shrink: initial;
    background-color: #E6B4C1;
    margin-top: 70px;
    border-radius: 10px;
}
.home-at-tinyGarden-text-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
}
.home-at-tinyGarden-maintext {
    font-family: "Henny Penny";
    font-size: 24px;
}
.home-plants-advantages {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}
.home-air-purify-container {
    width: 250px;
}
.home-air-purify {
    height: 150px;
}
.home-positivity-container {
    width: 250px;
}
.home-meditate {
    height: 150px;
}
.home-productivity-container {
    width: 250px;
}
.home-productive {
    height: 150px;
}
.home-at-tinyGarden-img {
    height: 600px;
    width: 800px;
}

.home-location {
    display: flex;
    background-color: #E6B4C1;
    margin-top: 50px;
    height: 250px;
    border-radius: 10px;
}
.home-shop-img {
    height: 170px;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 20px;
}
.home-shop-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    margin-top: 30px;
}
.visit-us {
    font-family: "Henny Penny";
    font-size: 24px;
}
.kathmandu-store {
    margin-top: -10px;
}
.store-contact {
    margin-top: 0;
}

@media screen and (max-width: 1300px) {
    .home-heading-container {
        gap: 20px;
    }
    .home-heading-main-text {
        font-size: 26px;
        margin-top: 40px;
    }
    .home-heading-subtext {
        display: none;
    }
    .why-choose-home {
        margin-right: 30px;
    }
    .home-points-container {
        justify-content: unset;
        gap: 20px;
        margin-left: -5px;
    }
    .home-point {
        width: 220px;
    }
    .home-point-maintext {
        margin-left: 15px;
    }
    .home-quality1 {
        height: 120px;
    }
    .home-quality2 {
        height: 70px;
    }
    .home-sustainability {
        height: 130px;
        width: 140px;
        margin-left: 45px;
    }
    .home-purse {
        height: 80px;
    }
    .home-point-price {
        margin-left: 10px;
    }
    .best-seller-text {
        margin-right: 30px;
    }
    .carousel-container {
        width: 680px;
    }
    .home-at-tinyGarden-subtext {
        display: none;
    }
    .home-at-tinyGarden-container {
        width: 690px;
        height: 750px;
    }
    .home-at-tinyGarden-maintext {
        margin-right: 160px;
        font-size: 34px;
    }
    .home-plants-advantages {
        flex-direction: column;
    }
    .home-productivity-container {
        margin-left: 350px;
        margin-top: -400px;
    }
    .home-at-tinyGarden-img {
        height: 300px;
        width: 600px;
        margin-left: -170px;
    }
    .home-air-purify-container{
        margin-top: -50px;
    }
    .home-location {
        width: 690px;
    }
}

@media screen and (max-width: 768px){
    .shop-now-button {
        width: 20vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 750px) {
    .slider-image {
        width: 35vw;
    }
    .shop-now-button {
        height: 60px;
        width: 22vw;
    }
    .home-heading-container {
        width: 450px;
        margin-left: -15px;
    }
    .home-heading-main-text {
        margin-left: -15px;
    }
    .why-choose-home {
        margin-right: 30px;
    }
    .home-points-container {
        flex-direction: column;
    }
    .home-point {
        width: 430px;
        height: 200px;
        flex-direction: row;
        align-items: start;
    }
    .home-point-maintext {
        font-size: 28px;
        margin-left: 0;
    }
    .best-seller-text {
        margin-right: 30px;
    }
    .carousel-container {
        width: 420px;
    }
    .home-plants-advantages {
        display: none;
    }
    .home-at-tinyGarden-text-container {
        margin-bottom: 30px;
        margin-top: -20px;
    }
    .home-at-tinyGarden-maintext {
        font-size: 36px;
        width: 100%;
        margin-left: -10px;
        margin-top: 0px;
    }
    .home-at-tinyGarden-subtext {
        display: block;
        margin-top: 0px;
    }
    .home-at-tinyGarden-container {
        flex-direction: column-reverse;
        width: 450px;
        margin-left: -15px;
    }
    .home-at-tinyGarden-img {
        width: 450px;
        height: 400px;
        margin-left: 0px;
        margin-bottom: 70px;
    }
    .home-location {
        width: 450px;
        margin-left: -15px;
    }
    .home-shop-text-container {
        margin-top: 0px;
        margin-left: 0px;
    }
}
