.page-container-login {
    display: flex;
    gap: 100px;
    align-items: end;
}
.left-section-login {
    margin-right: 100px;
    margin-top: 30px;
}

.tiny-garden-login-responsive, .login-img-responsive {
    display: none;
}

.tiny-garden-login {
    width: 100px;
    position: fixed;
    color: white;
    font-family: "Henny Penny";
    font-size: 60px;
    margin-top: 300px;
    margin-left: 30px;
}
.login-img {
    height: 700px;
    border-radius: 80px 80px 0 0;
}
.right-section-login {
    background-color: #A4BE8B;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    margin-top: 30px;
}
.page-heading-login {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
    margin-top: 50px;
}
.title-login, .subtitle1-login, .subtitle2-login {
    color: #463F3A;
    font-family: "Nunito";
}
.title-login {
    font-size: 32px;
    font-weight: bold;
}
.subtitle1-login, .subtitle2-login {
    font-size: 24px;
    margin-top: -20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
}
.user-input-login {
    display: flex;
    flex-direction: column;
}
.user-input-login input {
    background-color: white;
    border-color: #463F3A;
    border-style: solid;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    padding-left: 10px;
    color: black;
    margin-left: 40px;
}
.text-email-login, .text-password-login {
    margin-top: 20px;
}
.forgot-password-login {
    font-family: "Nunito";
    font-weight: 600;
    margin-left: 230px;
    cursor: pointer;
}
.forgot-password-login:hover {
    text-decoration: underline;
}
.login-button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.login-btn-login, .sign-up-login {
    background-color: #463F3A;
    font-family: "Nunito";
    width: 170px;
}

.login-email-container, .login-password-container {
    display: flex;
    flex-direction: column;
}
.error-email, .error-password {
    color: purple;
    font-size: 12px;
    width: 100%;
}
.error-email {
    margin-left: -140px;
}
.error-password {
    margin-left: -100px;
}

@media screen and (max-width: 1350px) {
    .page-container-login {
        flex-direction: column;
        align-items: center;
    }
    .left-section-login {
        display: flex;
        margin-top: -10px;
        margin-left: 100px;
    }
    .login-img, .tiny-garden-login {
        display: none;
    }
    .login-img-responsive {
        display: block;
        height: 100px;
    }
    .tiny-garden-login-responsive {
        display: block;
        font-family: "Henny Penny";
        color: #463F3A;
        font-size: 32px;
    }
    .right-section-login {
        height: 600px;
        width: 500px;
        margin-top: -70px;
    }
    .page-heading-login {
        margin-top: 40px;
    }
    .title-login {
        font-size: 24px;
    }
    .subtitle1-login, .subtitle2-login {
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) and (min-width: 400px) {
    .left-section-login {
        align-items: center;
    }
    .right-section-login {
        height: 550px;
        width: 400px;
        margin-top: -100px;
    }
    .forgot-password-login {
        margin-left: 180px;
    }
    .error-email {
        margin-left: -90px;
    }
    .error-password {
        margin-left: -50px;
    }
    .login-button-container {
        margin-top: 20px;
    }
}