.centre-pView {
    display: flex;
    margin-top: 100px;
    gap: 80px;
}
.img-pView {
    width: 30vw;
    height: 42vw;
}
.right-section-pView, .name-price-container-pView, .description-container-pView {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.right-section-pView {
    margin-top: -20px;
}
.name-pView {
    font-size: 38px;
    margin-bottom: -10px;
    color: #463F3A;
}
.price-description-pView {
    font-size: 30px;
    color: #463F3A;
}
.description-container-pView li {
    color: #463F3A;
    font-size: 20px;
}
.divider-pView {
    border: solid #463F3A 1px;
    width: 50vw;
}
.order-btn-container-pView, .order-number-container-pView {
    display: flex;
}
.order-btn-container-pView {
    gap: 30px;
    margin-top: 80px;
    align-items: center;
}
.order-number-container-pView {
    gap: 50px;
    align-items: center;
}
.add-to-cart-btn-pView {
    background-color: #463F3A;
    width: 20vw;
    font-size: 18px;
    font-family: Nunito;
    border-radius: 15px;
    height: 50px;
}
.minus-plus-btn-pView {
    height: 22px;
    cursor: pointer;
}
.order-number-pView {
    font-size: 18px;
    color: #463F3A;
}

@media screen and (max-width: 1041px) {
    .centre-pView {
        gap: 40px;
    }
    .img-pView {
        width: 45vw;
        height: 62vh;
    }
    .divider-pView {
        width: 85vw;
        margin-top: 370px;
        margin-left: -50vw;
    }
    .description-container-pView {
        margin-top: -20px;
        margin-left: -48vw;
    }
    .order-btn-container-pView {
        margin-left: -48vw;
        margin-top: 40px;
        gap: 40px;
    }
    .add-to-cart-btn-pView {
        width: 40vw;
    }
}

@media screen and (max-width: 600px) {
    .img-pView {
        width: 75vw;
        height: 62vh;
        margin-left: 20px;
    }
    .name-price-container-pView, .description-container-pView {
        margin-left: -82vw;
    }
    .name-price-container-pView {
        margin-top: 510px;
    }
    .name-pView {
        font-size: 30px;
        margin-bottom: -20px;
    }
    .price-description-pView {
        font-size: 24px;
    }
    .divider-pView {
        width: 85vw;
        margin-top: -10px;
        margin-left: -88vw;
    }
    .description-container-pView {
        margin-top: -20px;
    }
    .description-container-pView li {
        font-size: 18px;
    }
    .order-btn-container-pView {
        margin-left: -84vw;
    }
}