.centre-adPlant {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-right: 1000px;
}
.page-heading-adPlant {
    color: #463F3A;
    font-size: 32px;
    font-weight: bold;
}
.table-adPlant {
    border-style: solid;
    border-color: #463F3A;
    border-radius: 10px;
    width: 85vw;
    margin-top: 20px;

    padding-left: 20px;
}
td {
    color: #463F3A;
    font-family: "Nunito";
    font-size: 18px;
}

.search-container-adPlant {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
}
.search-btn-adPlant {
    margin-left: -30px;
    color: #463F3A;
    font-size: 20px;
}
.search-btn-adPlant:hover {
    cursor: pointer;
}

.admin-plant-record-container {
    display: flex;
    align-items: center;
    gap: 30px;

    border: #463F3A solid 2px;
    border-radius: 10px;

    padding-left: 25px;
}
.admin-plant-records {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.plant-record-icon {
    font-size: 55px;
}
.plant-number-data {
    margin-top: -10px;
}
