.centre-profile {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-title-text, .profile-order-history-text {
    font-family: "Henny Penny";
    font-size: 28px;
}
.profile-detail-edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid #463F3A 2px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45vw;
}
.profile-details-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.profile-details-container p {
    font-size: 20px;
}
.profile-details-address, .profile-details-mobile, .profile-details-email {
    margin-top: -5px;
}
.profile-edit-btn {
    color: #699B13;
    cursor: pointer;
}
.profile-edit-btn:hover {
    text-decoration: underline;
}
.profile-order-table {
    border: solid #463F3A 2px;
    width: 80vw;
}

.edit-profile-form {
    background-color: #A4BE8B;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute; /* Change fixed to absolute */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Center the form */
    z-index: 50;
    border-radius: 20px;
}
.close-edit-profile-form-button {
    font-size: 22px;
    margin-left: 250px;
    cursor: pointer;
}
.edit-profile-title{
    font-family: "Henny Penny";
    font-size: 26px;
}
.edit-profile-textfield-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.edit-profile-textfield-div label{
    color: #463F3A;
}
.edit-profile-name-div, .edit-profile-address-div, .edit-profile-number-div, .edit-profile-email-div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.edit-profile-btn {
    margin-top: 20px;
    background-color: #463F3A;
}
