.page-container-reg {
    display: flex;
    gap: 100px;
    align-items: end;
}
.left-section-reg {
    margin-right: 100px;
    margin-top: 30px;
}

.tiny-garden-reg-responsive, .register-img-responsive {
    display: none;
}

.tiny-garden-reg {
    width: 100px;
    position: fixed;
    color: white;
    font-family: "Henny Penny";
    font-size: 60px;
    margin-top: 300px;
    margin-left: 87px;
}
.register-img {
    height: 700px;
    border-radius: 80px 80px 0 0;
    margin-left: 57px;
}
.right-section-reg {
    background-color: #A4BE8B;
    width: 600px;
    height: 700px;
    border-radius: 20px;
    margin-top: 30px;
}
.page-heading-reg {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
    margin-top: 20px;
}
.title-reg, .sub-title-reg {
    color: #463F3A;
    font-family: "Nunito";
}
.title-reg {
    font-size: 32px;
    font-weight: bold;
}
.sub-title-reg {
    font-size: 24px;
    margin-top: -20px;
}
.reg-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
}
input {
    background-color: white;
    border-color: #463F3A;
    border-style: solid;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    color: black;
}
.text-address-reg, .text-number-reg, .text-email-reg, .password-fields-reg {
    margin-top: 30px;
}
.password-fields-reg {
    display: flex;
    align-items: baseline;
}
.text-rePassword-reg {
    margin-left: 30px;
}
.create-acc-btn {
    background-color: #463F3A;
    font-family: "Nunito";
    height: 55px;
    width: 300px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 120px;
}
.login-option-reg {
    display: flex;
    margin-left: 195px;
    color: #463F3A;
}
.login-btn-reg {
    margin-left: 7px;
    color: white;
}
.login-btn-reg:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .page-container-reg {
        flex-direction: column;
        align-items: center;
    }
    .left-section-reg {
        display: flex;
        margin-top: -10px;
        margin-left: 100px;
    }
    .register-img, .tiny-garden-reg {
        display: none;
    }
    .register-img-responsive {
        display: block;
        height: 100px;
    }
    .tiny-garden-reg-responsive {
        display: block;
        font-family: "Henny Penny";
        color: #463F3A;
        font-size: 32px;
    }
    .right-section-reg {
        height: 600px;
        width: 500px;
        margin-top: -70px;
    }
    .page-heading-reg {
        margin-top: 10px;
    }
    .title-reg {
        font-size: 20px;
    }
    .sub-title-reg {
        font-size: 16px;
    }
    input {
        height: 30px;
        width: 150px;
    }
    .create-acc-btn {
        height: 45px;
        width: 200px;
        margin-left: 100px;
    }
    .login-option-reg {
        margin-left: 130px;
    }
}

@media screen and (max-width: 850px) and (min-width: 400px) {
    .left-section-reg {
        align-items: center;
    }
    .right-section-reg {
        height: 550px;
        width: 400px;
        margin-top: -100px;
    }
    .page-heading-reg {
        margin-top: 0px;
    }
    input {
        width: 140px;
    }
    .create-acc-btn {
        margin-left: 60px;
    }
    .login-option-reg {
        margin-left: 90px;
    }
}